{{#extends 'base'}}

{{#block "content"}}
<h1>Films</h1>
<a href="/films/create" class="btn btn-primary my-3">Add New</a>
<form method="GET">
    <input type="text" name="title" placeholder="Enter search terms"/>
    <input type="text" name="year" placeholder="Enter year here"/>
    <input type="submit"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Length</th>
            <th>Year</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each films}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.length}}</td>
            <td>{{this.release_year}}</td>
            <td>{{this.language_name}}</td>
            <td>
                <a href="/films/{{this.film_id}}/actors" class="btn btn-primary">See Actors</a>
                <a href="/films/{{this.film_id}}/edit" class="btn btn-success">Edit</a></td>
            
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}